if site.data.widget && site.data.widget.top
  each item in site.data.widget.top
    .card-widget(class=item.class_name id=item.id_name style=item.order ? `order: ${item.order}` : '')
      .item-headline
        i(class=item.icon style='color: ' + item.color)
        span=item.name
      .item-content
        !=item.html